<!DOCTYPE html>
<html>

<head>
	<title>회원 가입</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			background: cornflowerblue;
		}

		.register-box {
			background: white;
			padding: 30px;
			border-radius: 10px;
			width: 500px;
		}
	</style>
</head>

<body>
	
	<div class="register-box">
		<h2>입력</h2>
		<form action="step3" method="post">
			<p>
				<label> Email <br />
					<input type="text" name="email" id="email">
				</label>
			</p>
			<p>
				<label> Name <br />
					<input type="text" name="name" id="name">
				</label>
			</p>
			<p>
				<label> Password <br />
					<input type="password" name="password" id="password">
				</label>
			</p>
			<p>
				<label> CheckPassword <br />
					<input type="password" name="confirmPassword" id="confirmPassword">
				</label>
			</p>
			<input type="submit" value="가입 완료">
		</form>
	</div>
</body>

</html>