<!DOCTYPE html>
<html>
<head>
	<title>회원 가입</title>
	<style>
				body{
					font-family: Arial,sans-serif;
					display: flex;
					justify-content: center;
					align-items: center;
					height: 100vh;
					background: cornflowerblue;
				}

				.register-box{
					background:white ;
					padding: 30px;
					border-radius: 10px;
					width: 500px;
				}
	</style>
</head>

<body>
	<div class="register-box">
		<h2>약관</h2>
		<p> blablafajlskfjalsfj;lasdkjfla;kjfd;lsakjf;ljalkfd</p> <br/>
		<form action="step2" method="post">
				<label>
					<input type="checkbox" name="agree" value="true"> 동의 하시겠습니까?
				</label>
				<input type="submit" value="다음 단계" />
			</form>
	</div>
	<div>
		
	</div>
	
	
</body>
</html>